### ~ private ~ ###
*.env
db.sqlite3

### ~ testing ~ ###
htmlcov

### ~ front-end ~ ###
**/*.scss
**/*.json
**/webpack.config.js

### ~ Docker ~ ###
**/.dockerignore
**/Dockerfile
*.yml

### ~ GitHub ~ ###
.git*
LICENSE
README.md