[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = {version = "*", extras = ["speedups"]}
aiohttp_jinja2 = "*"
aiohttp_session = "*"
cryptography = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"

[dev-packages]
aiohttp-devtools = "*"
mypy = "*"
flake8 = "*"

[scripts]
devserver = "adev runserver app/factory.py --app-factory create_app"
alembic = "alembic -c /project/app/db/migrations/alembic.ini"