[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg2-binary = "*"
django = "*"
djangorestframework = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
flake8 = "*"

[scripts]
devserver = "python /project/music_app/manage.py runserver 0.0.0.0:8000"
migrate = "python /project/music_app/manage.py migrate"
collectstatic = "python /project/music_app/manage.py collectstatic"