[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jinja2 = "*"
aiofiles = "*"
itsdangerous = "*"
uvicorn = {version = "*", extras = ["standard"]}
cryptography = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"

[dev-packages]
aiohttp-devtools = "*"
mypy = "*"
flake8 = "*"

[scripts]
devserver = "uvicorn --factory app.factory:create_app --host 0.0.0.0 --reload"
server = "uvicorn --factory app.factory:create_app --host 0.0.0.0"
alembic = "alembic -c /project/app/db/migrations/alembic.ini"